.chat-side
  .side-header    
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__group
        = link_to "#", class:"icons" do
          %i.fa.fa-edit
        %li.side-header__box__menu__user
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icons')

  .groups
    %p.group__group-name
      techcamp
    %p.group__latest-message
      まだメッセージがありません
    %p.group__group-name
      techcamp
    %p.group__latest-message
      まだメッセージがありません